## cat ~/.gitconfig
## link this file
[core]
	excludesfile = ~/.gitignore_global
## detail link url https://git-scm.com/docs/git-config
## must use include by absolute path
[includeIf "gitdir/i:/Users/develop/aierui/"]
  	path = /Users/develop/aierui/config/git/.user.aierui
[includeIf "gitdir/i:/data1/develop/aierui/"]
  	path = /data1/develop/aierui/config/git/.user.aierui
# [difftool "sourcetree"]
# 	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
# 	path = 
[diff]
    tool = vimdiff
[difftool "vimdiff"]
	cmd = /usr/local/bin/vimdiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	last = log -l HEAD
	wc = whatchanged
	hist = log --pretty=format:\"%C(auto)%h %ad%C(auto)%s%d%Cblue(%an)\" --graph --date=short
	find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 -s | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
    	show-merge = "!sh -c 'merge=$(git find-merge $0 $1) && [ -n \"$merge\" ] && git show $merge'"
[gpg]
	program = gpg2
[http]
	postBuffer = 1024288000
	proxy = socks5://127.0.0.1:7891
## 替换所有的 HTTPS 为 SSH
# [url "ssh://git@github.com/"]
# 	insteadOf = https://github.com/
# [https]
# 	proxy = socks5://127.0.0.1:1080
